version: '3.8'

services:
  mariadb:
    image: mariadb:latest
    container_name: my-mariadb
    restart: unless-stopped
    environment:
      MARIADB_ROOT_PASSWORD: 'root_password' # Required by the image
      MARIADB_DATABASE: 'mydatabase'         # As configured in application.yml
      MARIADB_USER: 'user'                   # As configured in application.yml
      MARIADB_PASSWORD: 'password'             # As configured in application.yml
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/var/lib/mysql

volumes:
  mariadb_data:
    driver: local
